/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.8.0/dist/leaflet.css");


* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #100b2b;
	
}
